.collectionPage {
    display: flex;
    flex-direction: column;
    padding: 0 2.2rem;
  
    .title {
      font-size: 38px;
      margin: 0 auto 30px;
    }
  
    .items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;

      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media screen and (max-width: 600px) {
        grid-template-columns: 1fr 1fr;
      }

      @media screen and (max-width: 425px) {
        grid-template-columns: 1fr;
      }
    }
}
  