.collPreviewWrapper {
    margin: 2rem 4.4rem;

    @media screen and (max-width: 500px) {
        margin: 2rem 2.2rem;
    }

    .title {
        display: inline;
        font-size: 24px;
        font-weight: bold;
        flex-basis: 100%;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: rgb(155, 155, 155);
        }
    }

    .preview {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        width: 100%;

        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .collItemWrapper {
        flex-basis: 22%;

        .collItemBottom {
            display: flex;
            justify-content: space-between;
        }

        .collItemImg {
            height: 350px;
            background-size: cover;
            background-position: center;

            @media screen and (max-width: 500px) {
                height: 315px;
            }
        }
    }
}