
.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4.4rem;
    padding-right: 4.4rem;
    padding-top: 1rem;

    @media screen and (max-width: 600px) {
        display: block;
        justify-content: unset;
        align-items: unset;
    }

    .logo {
        cursor: pointer;

        @media screen and (max-width: 600px) {
            text-align: center;
        }
    }

    .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25rem;
        cursor: pointer;

        @media screen and (max-width: 600px) {
            width: unset;
        }

        @media screen and (max-width: 425px) {
            padding-top: 10px;
        }

        & > a {
            text-decoration: none;
            color: black;
        }

        button {
            &:focus {
                outline: none;
            }
        }

        .signOutLink {
            cursor: pointer;
        }
        
        .svgWrapper {
            width: 22px;
        }
    }
}