
.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5eb5ff;
    padding: 1rem 4.4rem;

    .logoContainer {
        display: flex;
        align-items: center;
        font-weight: bold;
        cursor: pointer;


        .logoText {
            margin-left: 1rem;
        }

        .logo {    
            @media screen and (max-width: 600px) {
                text-align: center;
            }
        }
    }

    @media screen and (max-width: 600px) {
        display: block;
        justify-content: unset;
        align-items: unset;
    }

    

    .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25rem;
        cursor: pointer;

        @media screen and (max-width: 600px) {
            width: unset;
        }

        @media screen and (max-width: 425px) {
            padding-top: 10px;
        }

        & > a {
            text-decoration: none;
            color: black;
        }

        button {
            &:focus {
                outline: none;
            }
        }

        .signOutLink {
            cursor: pointer;
        }
        
        .svgWrapper {
            width: 22px;
        }
    }
}