.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;

    .logo {
        cursor: pointer;
    }

    .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25rem;
        cursor: pointer;

        & > a {
            text-decoration: none;
            color: black;
        }

        .btn-primary {
            background-color: white;
            border-color: white;
            box-shadow: none;
            color: black;

            &::after {
                margin-left: 1rem;
            }

            &:focus {
                box-shadow: none;
                background-color:white;
                border-color: white ;
            }

            &.dropdown-toggle {
                color: black;
                background-color: white;
                border-color: white;

                &:active {
                    box-shadow: none;
                    color: black;
                    background-color:white;
                    border-color: white ;

                    &:focus {
                        box-shadow: none;
                    }
                }

                &:focus {
                    box-shadow: none;
                }
            }
        }

        .dropdown-item:hover {
            background-color: #dadada;
        }

        button {
            &:focus {
                outline: none;
            }
        }

        .svgWrapper {
            width: 22px;
        }
    }
}